[job.defaults]
pwatcher_type=blocking
job_type=pbs
submit= qsub -S /bin/bash -Wblock=true -V -A ${JOB_QUEUE} \
  -N ${JOB_NAME}        \
  -o "${JOB_STDOUT}" \
  -e "${JOB_STDERR}" \
  -l "nodes=1:ppn=${JOB_NPROC},mem=${JOB_MB}M,walltime=${JOB_TIME}"    \
  "${JOB_SCRIPT}"

JOB_QUEUE=UQ-SCI-SCMB
JOB_TIME=04:00:00
JOB_MB=40000
JOB_NPROC=6
njobs=15

[job.step.da]
JOB_NPROC=4
JOB_MB=32768
njobs=15
[job.step.la]
JOB_NPROC=4
JOB_MB=40000
njobs=100
JOB_TIME=04:00:00
[job.step.cns]
JOB_NPROC=8
JOB_MB=85536
njobs=100
JOB_TIME=10:00:00
[job.step.pda]
JOB_NPROC=8
JOB_MB=40000
njobs=15
[job.step.pla]
JOB_NPROC=6
JOB_MB=40000
njobs=15
[job.step.asm]
JOB_NPROC=12
JOB_MB=120000
JOB_TIME=168:00:00
njobs=1

[General]
input_fofn=input.fofn
input_type=raw
pa_DBdust_option=
pa_fasta_filter_option=pass
target=assembly
skip_checks=false
LA4Falcon_preload=false

####Data Partitioning

pa_DBsplit_option=-x500 -s250
ovlp_DBsplit_option=-x500 -s250

####Repeat Masking
pa_HPCTANmask_option =
####no-op repmask param set
pa_REPmask_code=0,300;0,300;0,300

####Pre-assembly
genome_size=1100000000
seed_coverage=30
length_cutoff=-1
pa_HPCdaligner_option=-v -B100 -M30
pa_daligner_option=-k14 -e0.70 -l1200 -h480 -w8 -s100
falcon_sense_option=--output-multi --min-idt 0.70 --min-cov 2 --max-n-read 200
falcon_sense_greedy=false

####Pread overlapping
ovlp_daligner_option=-k18 -e.96 -l1800 -h1024
ovlp_HPCdaligner_option=-v -B128 -M30

####Final Assembly
overlap_filtering_setting=--max-diff 100 --max-cov 100 --min-cov 2
fc_ovlp_to_graph_option=
length_cutoff_pr=1000

