[General]
job_type = local
pa_DBdust_option=
pa_fasta_filter_option=stream-median
input_fofn = input.fofn
input_type = raw
target=assembly
LA4Falcon+preload=false

####Data partitioning
pa_DBsplit_option=-x500 -s400
ovlp_DBsplit_option=-x500 -s400

####Repeatmasking
pa_HPCTANmask_option=
####No-op repmask param set
pa_REPmask_code=0,300;0,300;0,300

####Pre assembly
genome_size=1418100000
length_cutoff =-1
seed_coverage=30

#### overlapping options for Daligner 
pa_HPCdaligner_option = -v -B128 -M24
pa_daligner_option=-k18 -e0.76 -l1200 -h480 -w8 -s100

####Pread overlapping
ovlp_daligner_option=-k24 -e0.96 -l1800 -h1024 -s100
ovlp_HPCdaligner_option = -v -B128 -M24

####Final coverage
overlap_filtering_settings=--max-diff 100 --max-cov 100 --min-cov 2 --n-core 24
fc_ovlp_to_graph_option=
length_cutoff_pr=5000
